@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

p {
    margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f0f0f0;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn,
nav img {
    width: 50px;
    border-radius: 50%;
}

nav h2 {
  color: black;
  margin: 0!important;
}

.settings-cont {
    max-width: 1000pc;
}

.nav-timer {
    background-color: transparent!important;
}

.back-btn {
    background-color: #345995;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.working {
    background-color: rgb(221, 76, 76);
}

.countdown,
.starting {
    background-color: black;
}

.resting {
    background-color: rgb(66, 177, 66);
}

.cycle-rest {
    background-color: #345995;
}

.timer * {
    color: white;
}

.timer-page-containter {
    width: 100vw;
    height: 100vh;
    padding: 5rem 10px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.timer {
    max-width: 1000px;
    width: 100%;
}

.timer-nav {
    width: 50px;
    height: 50px;
    background-color: #EAC435;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.clock {
    padding-top: 3rem;
    font-size: 8rem;
    text-align: center;
}

.start-btn {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #EAC435;
    border: none;
}

.info {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info p {
    font-size: 2rem;
}

.timer-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

/* .new-timer input {
    width: 70px;
} */

.w75 {
    width: 75%;
    border-bottom: none!important;
}

.max75 {
    max-width: 75px;
}

.new-timer select {
    border: none;
    font-size: larger;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none; /* Remove default arrow in Firefox */
    width: 100%; 
    padding: 1rem;
    background-color: transparent;
}

/* Additional styles for appearance consistency across browsers */
select::-ms-expand {
    display: none;
}

/* Hide the scrollbar in Firefox */
select::-moz-focus-inner {
    border: 0;
}
  
/* Style to hide the scrollbar in WebKit browsers (Chrome, Safari) */
select::-webkit-scrollbar {
    width: 0;
}

select option {
    box-sizing: border-box;
    /* height: 100px!important; */
    /* overflow-y: hidden; */
    /* height: 50px; */
    overflow: hidden;
}

/* Style to remove border and outline on focus for the select element */
select:focus {
    border: none;
    outline: none;
}

.new-timer input {
    padding: 1rem;
    background-color: #f0f0f0;
}

.color-option {
    height: 50px;
    width: 50px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.color-btn {
    height: 50px;
    width: 50px;
    border: none!important;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.my-modal {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
}

.rel {
    position: relative;
}
  
.new-timer-btn,
.timer-card {
  width: 100%;
  max-width: 900px;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.new-timer-btn {
  font-size: calc(1.325rem + .9vw);
  text-align: center;
  background-color: #FB4D3D;
}

.new-timer {
    height: 100lvh;
    width: 100vw;
    padding: 5rem 15px 0;
    display: flex;
    background-color: #f0f0f0;
  flex-direction: column;
  justify-content: start;
}

.new-timer div {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-me {
    border-bottom: 2px solid rgb(80, 80, 80);
    
}

.new-timer input {
    border: none;
    text-align: center;
}

.rest {
  color: green;
}

.work {
  color: red;
}

.btn-google img {
  width: 30px;
}



body {
    background-color: #c9d6ff;
    /* background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.cont{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.cont p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.cont span{
    font-size: 12px;
}

.cont a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    cursor: pointer;
}

.cont button{
    background-color: orange;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.cont button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.cont form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.cont input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-cont{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.cont.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.cont.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-cont{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.cont.active .toggle-cont{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: orange;
    height: 100%;
    background: linear-gradient(to right, #f8a25c, #e1ec3c);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.cont.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.cont.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.cont.active .toggle-right{
    transform: translateX(200%);
}


@media screen and (max-width: 900px) {  
    .cont {
        width: 100vw;
        min-width: 100vw;
        border-radius: 0;
        box-shadow: none;
        height: 100vh;
        /* display: flex;
        flex-direction: column; */
    }

    .sign-in{
        left: 0;
        top: 50%;
        width: 100%;
        height: 50%;
        z-index: 2;
    }

    .cont.active .sign-in{
        transform: translateY(100%);
    }

    .sign-up {
        left: auto;
        top: 0;
        height: 50%;
        width: 100%;
    }

    .cont.active .sign-up{
        transform: translateY(0);
    }

    .toggle-cont{
        position: absolute;
        /* top: auto; */
        bottom: 50%;
        width: 100%;
        height: 50%;
        border-radius: 150px 0 0 100px;
        overflow: visible;
    }

    .cont.active .toggle-cont{
        transform: translateY(100%);
        border-radius: 0 150px 100px 0;
    }

    .toggle{
        height: 100%;
        left: -50%;
        width: 100%;
        transition: all 0.6s ease-in-out;
    }

    .cont.active .toggle{
        transform: translateY(0);
    }

    .toggle-panel{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: none;
        transition: all 0.6s ease-in-out;
    }

    .toggle-left{
        transform: translateY(-200%);
    }
    
    .cont.active .toggle-left{
        transform: translateY(0);
    }
    
    .toggle-right{
        transform: translateY(0);
    }
    
    .cont.active .toggle-right{
        transform: translateY(200%);

    }
}

@media screen and (orientation: portrait) {
    .timer-ls {
        display: none!important;
    }

    .timer-ls * {
        display: none!important;
    }

    .clock-ls {
        display: none!important;
    }
}

@media screen and (orientation: landscape) {
    .timer {
        display: none;
    }

    .timer-ls {
        position: relative;
        width: 100%;
    }

    .timer-ls * {
        color: white;
    }

    .clock-ls {
        font-size: 13rem;
        position: fixed;
        top: 10%;
    }

    .wf {
        width: 100px;
        text-align: center;
    }

    .info-ls {
        position: fixed;
        bottom: 0;
        font-size: x-large;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    .info-2-ls {
        position: fixed;
        width: 50%;
        font-size: x-large;
        top: 0;
        padding-top: 2rem;
    }

    .start-btn-ls {
        padding: 0;
        margin: 0;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        background-color: #EAC435;
        border: none;
    }



}