body {
  margin: 0;
}

.app {
  width: 100%;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h2 {
  color: white;
}

.timer-container {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.new-timer-btn,
.timer-card {
  border: 2px solid black;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.new-timer {
  display: flex;
  flex-direction: column;
}

.rest {
  color: green;
}

.work {
  color: red;
}